<section class="about">
    <div class="container">
        <div class="wrapper">
            <div class="wrapper-box about-content">
                <div class="about-title">
                    о компании
                </div>
                <div class="about-text">
                    <p class="about-text__info">Компания Азия Карго - это полный комплекс логистических услуг по
                        доставке
                        грузов из Китая в Россию - сборные грузы и
                        цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Россия. Для вашего
                        удобства
                        есть
                        тарифы на лёгкий и
                        тяжелый куб. Мы работаем на рынке более 4 лет, а руководители компании занимаются
                        логистикой
                        уже
                        более 11 лет.</p>
                    <p class="about-text__info">Мы стремимся предоставить лучшие условия доставки и лучший
                        сервис своим
                        клиентам. Выбирая нас - вы выбираете
                        качественную доставку оптимальную по цене и времени! Убедитесь в этом сами!</p>
                </div>
            </div>
            <div class="wrapper-box about-img">
                <img src="assets/img/contract.png" class="img-fluid" alt="contract">
            </div>
        </div>
    </div>
</section>