<section class="advantages bg-gray">
    <div class="container">
        <div class="template-title">
            <h2>Почему стоит выбрать именно нас?</h2>
        </div>
        <div class="advantages-slider row">
            <!-- Item-1 -->
            <div class="advantages-slider__item col-lg-3">
                <div class="advantages-slider__item-content">
                    <div class="img-box">
                        <img src="assets/icons/icon-advantages-1.svg" alt="icon-advantages-1">
                    </div>
                    <div class="text-box">
                        Таможенное оформление груза
                    </div>
                </div>
            </div>
            <!-- item-2 -->
            <div class="advantages-slider__item col-lg-3">
                <div class="advantages-slider__item-content">
                    <div class="img-box">
                        <img src="assets/icons/icon-advantages-2.svg" alt="icon-advantages-2">
                    </div>
                    <div class="text-box">
                        Страховка груза
                    </div>
                </div>
            </div>
            <!-- Item-3 -->
            <div class="advantages-slider__item col-lg-3">
                <div class="advantages-slider__item-content">
                    <div class="img-box">
                        <img src="assets/icons/icon-advantages-3.svg" alt="icon-advantages-3">
                    </div>
                    <div class="text-box">
                        Проверка товара на брак
                    </div>
                </div>
            </div>
            <!-- item-4 -->
            <div class="advantages-slider__item col-lg-3">
                <div class="advantages-slider__item-content">
                    <div class="img-box">
                        <img src="assets/icons/icon-advantages-4.svg" alt="icon-advantages-4">
                    </div>
                    <div class="text-box">
                        Доставка в любой город UK
                    </div>
                </div>
            </div>
            <!-- Item-5 -->
            <div class="advantages-slider__item col-lg-3">
                <div class="advantages-slider__item-content">
                    <div class="img-box">
                        <img src="assets/icons/icon-advantages-5.svg" alt="icon-advantages-5">
                    </div>
                    <div class="text-box">
                        Консолидация на складе
                    </div>
                </div>
            </div>
            <!-- item-6 -->
            <div class="advantages-slider__item col-lg-3">
                <div class="advantages-slider__item-content">
                    <div class="img-box">
                        <img src="assets/icons/icon-advantages-6.svg" alt="icon-advantages-6">
                    </div>
                    <div class="text-box">
                        Ответственное хранение груза
                    </div>
                </div>
            </div>
            <!-- Item-7 -->
            <div class="advantages-slider__item col-lg-3">
                <div class="advantages-slider__item-content">
                    <div class="img-box">
                        <img src="assets/icons/icon-advantages-7.svg" alt="icon-advantages-7">
                    </div>
                    <div class="text-box">
                        Помощь в оплате товара
                    </div>
                </div>
            </div>
            <!-- item-8 -->
            <div class="advantages-slider__item col-lg-3">
                <div class="advantages-slider__item-content">
                    <div class="img-box">
                        <img src="assets/icons/icon-advantages-8.svg" alt="icon-advantages-8">
                    </div>
                    <div class="text-box">
                        Упаковка, переупаковка, паллетирование груза к международной перевозке
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>