<section class="calculation">
    <div class="container">
        <div class="calculation__title">получить расчет стоимости доставки вашего груза</div>
        <div class="forms">
            <div class="forms-item box-1">
                <label for="disabledTextInput" class="form-label">Категория товара:</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="Категория товара">
            </div>
            <div class="forms-item box-2">
                <label for="disabledTextInput" class="form-label">Стоимость груза:</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="Введите стоимость">
            </div>
            <div class="forms-item box-3">
                <label for="disabledTextInput" class="form-label">Вес груза (кг):</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="Введите вес">
            </div>
            <div class="forms-item box-4">
                <label for="disabledTextInput" class="form-label">Объем груза (м3):</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="Введите объем">
            </div>
            <div class="forms-item box-5">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Страховка</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck2">
                    <label class="form-check-label" for="exampleCheck2">Таможенное оформление</label>
                </div>
            </div>
            <div class="forms-item box-6">
                <label for="disabledTextInput" class="form-label">Код ТН ВЭД:</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="Введите код">
            </div>
            <div class="forms-item box-7">
                <div class="calculation-title">фотография.jpeg</div>
                <div class="file-row">
                    <div class="file-row__text">Загрузить фото товара</div>
                    <input class="input-file" id="fileInput" name="fileInput" type="file">
                </div>
            </div>
            <div class="forms-item box-8">
                <a href="#" class="first-screen-slider__btn">Следующий шаг
                    <img src="assets/img/arrow-circle-left 1.svg" class="img-fluid" alt="arrow-circle-left">
                </a>
            </div>
        </div>
        <div class="boogeyman">
            <img src="assets/img/man.png" alt="man">
        </div>
    </div>
</section>