<section class="cooperation bg-gray">
    <div class="container">
        <div class="template-title">
            <h2>Готовы к сотрудничеству?</h2>
            <p>Зарегистрировать груз</p>
        </div>
    </div>
    <!--! Cooperation First-->
    <div class="cooperation-screen">
        <div class="cooperation-screen__box">
            <div class="cooperation-text">
                <div class="cooperation-text__content">• Для того, чтобы начать сотрудничество, необходимо
                    оформить груз указав информацию о
                    содержимом груза, его стоимость и
                    количество. А так-же прикрепив фотографии к заявке.</div>
                <div class="cooperation-text__content">• Если требуется проверка товара на соответсвие
                    количеству, то при оформлении груза на
                    нашем сайте укажите это в графе
                    "Примечание". Данная услуга платная и составляет 3 юаня за одну позицию в заказе. Любые
                    дополнительные проверки груза
                    обсуждаются индивидуально в том числе и их стоимость.</div>
                <div class="cooperation-text__content">• До отправки груза на наш склад в Китае обязательно
                    позаботьтесь о том, чтобы сделать
                    маркировку, с номером Вашего
                    заказа у нас на сайте, для каждой внешней коробки, чтобы мы смогли определить именно Ваш
                    груз. Если у Вас нет
                    возможности сделать это самостоятельно, то попросите об этом своего поставщика.</div>
            </div>
            <div class="cooperation-img">
                <img src="assets/img/cooperation.png" class="img-fluid" alt="cooperation">
            </div>
        </div>
    </div>
    <!--! Cooperation Reverse -->
    <div class="cooperation-screen">
        <div class="cooperation-screen__box  flex-row-reverse">
            <div class="cooperation-text reverse">
                <div class="cooperation-text__content">• После отправки груза на наш склад в Китае, Вам
                    обязательно нужно указать трек-номер для
                    отслеживания посылок
                    по Китаю
                    для каждой позиции в заказе. Внести трек-номер можно на странице заказа. Трек-номер -
                    это
                    ещё одна мера для
                    идентификации Вашего груза на нашем складе.
                </div>
                <div class="cooperation-text__content">• Если Вы оформили груз по нашей инструкции и сделали
                    все
                    правильно, то при получении
                    Вашего груза на складе в
                    Китае
                    статус заказа изменится на "На складе".
                </div>
                <a href="#" class="first-screen-slider__btn">Оформить груз
                    <img src="assets/img/arrow-circle-left 1.svg" class="img-fluid" alt="arrow-circle-left">
                </a>
            </div>
            <div class="cooperation-img">
                <img src="assets/img/cooperation-reverse.png" class="img-fluid" alt="cooperation">
            </div>
        </div>
    </div>
</section>