<section class="faq">
    <div class="container">
        <div class="template-title">
            <h2>часто задаваемые вопросы</h2>
        </div>
        <div class="wrapper">
            <!--!   Accordion -->
            <div class="faq-accordion">
                <div class="accordion" id="accordionExample">
                    <!-- accordion item-1 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading_1">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse_1" aria-expanded="false" aria-controls="collapse_1">
                                Как рассчитывается стоимость доставки?
                            </button>
                        </h2>
                        <div id="collapse_1" class="accordion-collapse collapse" aria-labelledby="heading_1"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Расчет стоимости доставки происходит индивидуально для каждого груза. Очень
                                много факторов, которые влияют на цену. Предоставив нам все подробности о грузе,
                                мы сможем максимально точно рассчитать стоимость доставки.
                            </div>
                        </div>
                    </div>
                    <!-- accordion item-2 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading_2">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse_2" aria-expanded="false" aria-controls="collapse_2">
                                Как происходит оплата за доставку груза?
                            </button>
                        </h2>
                        <div id="collapse_2" class="accordion-collapse collapse" aria-labelledby="heading_2"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Оплату мы можем принять на расчетный счет, на карту СберБанка, на карту в Китай.
                                Также есть возможность отправить нам Вашу дополнительную карту, которую Вы
                                будете самостоятельно пополнять, а мы обналичивать.
                            </div>
                        </div>
                    </div>
                    <!-- accordion item-3 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading_3">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse_3" aria-expanded="false" aria-controls="collapse_3">
                                Можно ли через вас оплатить товар поставщику?
                            </button>
                        </h2>
                        <div id="collapse_3" class="accordion-collapse collapse" aria-labelledby="heading_3"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Да, мы предоставляем такую услугу, мы можем взять оплату товара в Китае на себя.
                                Если у вас нет валютного счёта, то можете оплатить товар в рублях на наш счет в
                                России.
                            </div>
                        </div>
                    </div>
                    <!-- accordion item-4 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading_4">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse_4" aria-expanded="false" aria-controls="collapse_4">
                                Как быстро оформить заказ на доставку из Китая в Россию?
                            </button>
                        </h2>
                        <div id="collapse_4" class="accordion-collapse collapse" aria-labelledby="heading_4"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Lorem ipsum dolor sit amet.
                            </div>
                        </div>
                    </div>
                    <!-- accordion item-5 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading_5">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse_5" aria-expanded="false" aria-controls="collapse_5">
                                В чём особенность КАРГО доставки из Китая
                            </button>
                        </h2>
                        <div id="collapse_5" class="accordion-collapse collapse" aria-labelledby="heading_5"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione, deleniti?
                            </div>
                        </div>
                    </div>
                    <!-- accordion item-6 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading_6">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapse_6" aria-expanded="false" aria-controls="collapse_6">
                                Какой срок доставки из Китая?
                            </button>
                        </h2>
                        <div id="collapse_6" class="accordion-collapse collapse" aria-labelledby="heading_6"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi ipsam, soluta
                                iusto inventore natus neque.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--!  Faq -->
            <div class="faq-forms">
                <div class="faq-title">Остались вопросы?</div>
                <div class="faq-subtitle">Оставьте заявку и наш менеджер ответит вам в ближайшее время</div>
                <form class="form-box">
                    <div class="faq-item">
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="Имя*">
                    </div>
                </form>
                <form class="form-box">
                    <div class="faq-item">
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="Телефон*">
                    </div>
                </form>
                <form class="form-box">
                    <div class="faq-item">
                        <input type="text" id="disabledTextInput" class="form-control" placeholder="Ваш email">
                    </div>
                </form>
                <form class="form-box">
                    <div class="faq-item">
                        <input type="text" id="disabledTextInput your_question" class="form-control"
                            placeholder="Ваш вопрос">
                    </div>
                </form>
                <form class="form-box">
                    <a href="#" class="first-screen-slider__btn faq">Оформить запрос
                        <img src="assets/img/arrow-circle-left 1.svg" class="img-fluid" alt="arrow-circle-left">
                    </a>
                </form>
            </div>
        </div>
    </div>
</section>