<footer class="footer">
	<div class="footer-contact">
		<div class="footer-logo">
			<img src="assets/img/master-tao-logo.svg" alt="tao-logo">
		</div>
		<div class="footer-address">
			<a class="address-link" href="#">8(800)600-18-69</a>
			<a class="address-link" href="#">info@cargoasia.info</a>
			<p class="address-text">Адрес в Китае:</p>
			<p class="address-text">浙江省金华市义乌市后宅街道洪v华区5</p>
			<p class="address-text">栋一单元一楼RT789库房 高建军 电话</p>
			<p class="address-text">15966660379</p>
		</div>
		<div class="footer-social">
			<div class="social-icon instagram">
				<img src="assets/img/icon-instagram.png" alt="instagram">
			</div>
			<div class="social-icon vkontakte">
				<img src="assets/img/icon-vkontakte.png" alt="vkontakte">
			</div>
			<div class="social-icon telegram">
				<img src="assets/img/icon-telegram.png" alt="telegram">
			</div>
		</div>
	</div>
	<div class="footer-menu">
		<div class="transportation-menu">
			<div class="menu-title">Грузоперевозки</div>
			<div class="menu-subtitle">Цены и сроки</div>
			<div class="menu-subtitle">Услуги</div>
			<div class="menu-subtitle">О компании</div>
			<div class="menu-subtitle">Контакты</div>
			<div class="menu-subtitle">Оформить груз</div>
		</div>
		<div class="services-menu">
			<div class="menu-title">Услуги</div>
			<div class="menu-subtitle">Выкуп товара</div>
			<div class="menu-subtitle">Страховка груза</div>
			<div class="menu-subtitle">Оренда склада</div>
			<div class="menu-subtitle">Перевод денежных средств</div>
		</div>
		<div class="info-menu">
			<div class="menu-title">Информация</div>
			<div class="menu-subtitle">Отзывы</div>
			<div class="menu-subtitle">Требования к грузу</div>
			<div class="menu-subtitle">Договор оферта</div>
			<div class="menu-subtitle">Как заключить договор</div>
			<div class="menu-subtitle">Способы оплаты услуг</div>
			<div class="menu-subtitle">Документы</div>
			<div class="menu-subtitle">Статьи</div>
		</div>
	</div>
</footer>
<script src="assets/js/jQuery v3.6.2.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/script.js"></script>
</body>

</html>