<section class="services bg-gray">
    <div class="container">
        <div class="template-title">
            <h2>Услуги</h2>
        </div>
        <div class="slider-delivery">
            <!-- Slider-item-1 -->
            <div class="slider-item"
                style="background-image: linear-gradient(0deg, rgba(4, 5, 17, 0.91) 0%, rgba(88, 88, 88, 0) 100%), url(assets/img/services-1.png);">
                <h4 class="slider-item__title">
                    Выкуп товара
                </h4>
                <p class="services-text">Компания - это полный комплекс логистических услуг по доставке грузов
                    из Китая в Россию -
                    сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Россия. </p>
                <div class="slider-item__row-btn">
                    <a class="btn btn-more" href="#">Подробнее</a>
                </div>
            </div>
            <!-- Slider-item-2 -->
            <div class="slider-item"
                style="background-image: linear-gradient(0deg, rgba(4, 5, 17, 0.91) 0%, rgba(88, 88, 88, 0) 100%), url(assets/img/services-2.png);">
                <h4 class="slider-item__title">
                    Страховка груза
                </h4>
                <p class="services-text">Компания - это полный комплекс логистических услуг по доставке грузов
                    из Китая в Россию -
                    сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Россия. </p>
                <div class="slider-item__row-btn">
                    <a class="btn btn-more" href="#">Подробнее</a>
                </div>
            </div>
            <!-- Slider-item-3 -->
            <div class="slider-item"
                style="background-image: linear-gradient(0deg, rgba(4, 5, 17, 0.91) 0%, rgba(88, 88, 88, 0) 100%), url(assets/img/services-3.png);">
                <h4 class="slider-item__title">
                    Аренда склада
                </h4>
                <p class="services-text">Компания - это полный комплекс логистических услуг по доставке грузов
                    из Китая в Россию -
                    сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Россия. </p>
                <div class="slider-item__row-btn">
                    <a class="btn btn-more" href="#">Подробнее</a>
                </div>
            </div>
            <!-- Slider-item-4 -->
            <div class="slider-item"
                style="background-image: linear-gradient(0deg, rgba(4, 5, 17, 0.91) 0%, rgba(88, 88, 88, 0) 100%), url(assets/img/services-4.png);">
                <h4 class="slider-item__title">
                    Перевод денежных средств
                </h4>
                <p class="services-text">Компания - это полный комплекс логистических услуг по доставке грузов
                    из Китая в Россию -
                    сборные грузы и цельные товарные партии, услуги посредника ТаоБао, КАРГО Китай-Россия. </p>
                <div class="slider-item__row-btn">
                    <a class="btn btn-more" href="#">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</section>